<a href="https://colab.research.google.com/github/parkyw2/parkyw2/blob/main/google_sheet_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade gspread
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('test3').sheet1

rows = worksheet.get_all_values()
print(rows)

import pandas as pd
pd.DataFrame.from_records(rows)

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (3.4.2)
Collecting gspread
  Downloading gspread-5.2.0-py3-none-any.whl (32 kB)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Installing collected packages: gspread
  Attempting uninstall: gspread
    Found existing installation: gspread 3.4.2
    Uninstalling gspread-3.4.2:
      Successfully uninstalled gspread-3.4.2
Successfully installed gspread-5.2.0

[['date', '1110', '1120', '1130', '1140', '1150', '1160', '1170', '1180', 'total'], ['2021-12-01', '9696898', '31194385', '0', '168980', '0', '9585049', '3181015', '32087', '53858414'], ['2021-12-02', '2910284', '3544228', '0', '2198115', '12978', '8748288', '3064744', '6864', '20485501'], ['2021-12-03', '11469824', '398061', '0', '1121340', '0', '3846635', '731549', '44800', '17612209'], ['2021-12-04', '2873733', '3242', '0', '1040', '0', '5360845', '2029019', '0', '10267879'], ['2021-12-05', '2839175', '0', '0', '0', '0', '1300', '29600', '0', '2870075'], ['2021-12-06', '12815214', '10667076', '0', '1806502', '0', '19783206', '2680007', '3321753', '51073758'], ['2021-12-07', '7588518', '13302873', '0', '5830784', '0', '7367003', '12630582', '299499', '47019259'], ['2021-12-08', '10316611', '4311916', '0', '21199659', '0', '7708941', '7296219', '3030900', '53864246'], ['2021-12-09', '2251770', '5739727', '0', '4594791', '1579010', '12412669', '1953513', '3366100', '31897580'], ['2021-12-10', '4394401', '7555812', '0', '981667', '0', '5455620', '2765394', '4713900', '25866794'], ['2021-12-11', '3329513', '891864', '0', '1919300', '0', '404668', '187056', '0', '6732401'], ['2021-12-12', '375333', '0', '0', '5419', '0', '0', '0', '0', '380752'], ['2021-12-13', '2445965', '3984320', '0', '27770610', '0', '1441249', '4931159', '47900', '40621203'], ['2021-12-14', '4528387', '855344', '0', '5039012', '0', '4052579', '3624737', '26810', '18126869'], ['2021-12-15', '11921522', '3873890', '0', '5047405', '0', '4447058', '1401301', '0', '26691176'], ['2021-12-16', '14877876', '485493', '0', '635038', '0', '7329775', '1269636', '272771', '24870589'], ['2021-12-17', '3230193', '5669766', '0', '3311731', '0', '9958691', '3263602', '625000', '26058983'], ['2021-12-18', '898238', '6450448', '0', '191700', '0', '67964', '1005086', '0', '8613436'], ['2021-12-19', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['2021-12-20', '29106546', '4257300', '0', '2586970', '0', '32190408', '6064197', '485', '74205906'], ['2021-12-21', '8251034', '2407395', '0', '1739632', '0', '11428259', '23832202', '1936600', '49595122'], ['2021-12-22', '11015014', '849749', '0', '4264120', '12978', '6244952', '7855598', '1986058', '32228469'], ['2021-12-23', '34990463', '355232', '0', '7297627', '0', '5149153', '5067257', '6695754', '59555486'], ['2021-12-24', '5590498', '6650433', '0', '1298763', '0', '2368324', '3943195', '0', '19851213'], ['2021-12-25', '1217584', '0', '0', '219539', '0', '1212904', '286747', '0', '2936774'], ['2021-12-26', '50856', '0', '0', '188500', '0', '0', '106200', '0', '345556'], ['2021-12-27', '8170353', '5692078', '0', '4842059', '0', '5078067', '892793', '1207522', '25882872'], ['2021-12-28', '10194416', '6245477', '0', '17376007', '0', '25430223', '19868103', '7006737', '86120963'], ['2021-12-29', '5964013', '2509500', '0', '1770660', '0', '12632018', '11809706', '4455711', '39141608'], ['2021-12-30', '8877249', '5982917', '0', '2974314', '875123', '18953435', '13077730', '10129300', '60870068'], ['2021-12-31', '8349826', '1085740', '0', '8798434', '0', '14436548', '7612966', '0', '40283514']]

,0,1,2,3,4,5,6,7,8,9
0,date,1110,1120,1130,1140,1150,1160,1170,1180,total
1,2021-12-01,9696898,31194385,0,168980,0,9585049,3181015,32087,53858414
2,2021-12-02,2910284,3544228,0,2198115,12978,8748288,3064744,6864,20485501
3,2021-12-03,11469824,398061,0,1121340,0,3846635,731549,44800,17612209
4,2021-12-04,2873733,3242,0,1040,0,5360845,2029019,0,10267879
5,2021-12-05,2839175,0,0,0,0,1300,29600,0,2870075
6,2021-12-06,12815214,10667076,0,1806502,0,19783206,2680007,3321753,51073758
7,2021-12-07,7588518,13302873,0,5830784,0,7367003,12630582,299499,47019259
8,2021-12-08,10316611,4311916,0,21199659,0,7708941,7296219,3030900,53864246
9,2021-12-09,2251770,5739727,0,4594791,1579010,12412669,1953513,3366100,31897580
10,2021-12-10,4394401,7555812,0,981667,0,5455620,2765394,4713900,25866794
11,2021-12-11,3329513,891864,0,1919300,0,404668,187056,0,6732401
12,2021-12-12,375333,0,0,5419,0,0,0,0,380752
13,2021-12-13,2445965,3984320,0,27770610,0,1441249,4931159,47900,40621203
14,2021-12-14,4528387,855344,0,5039012,0,4052579,3624737,26810,18126869
15,2021-12-15,11921522,3873890,0,5047405,0,4447058,1401301,0,26691176
16,2021-12-16,14877876,485493,0,635038,0,7329775,1269636,272771,24870589
17,2021-12-17,3230193,5669766,0,3311731,0,9958691,3263602,625000,26058983
18,2021-12-18,898238,6450448,0,191700,0,67964,1005086,0,8613436
19,2021-12-19,0,0,0,0,0,0,0,0,0
20,2021-12-20,29106546,4257300,0,2586970,0,32190408,6064197,485,74205906
21,2021-12-21,8251034,2407395,0,1739632,0,11428259,23832202,1936600,49595122
22,2021-12-22,11015014,849749,0,4264120,12978,6244952,7855598,1986058,32228469
23,2021-12-23,34990463,355232,0,7297627,0,5149153,5067257,6695754,59555486
24,2021-12-24,5590498,6650433,0,1298763,0,2368324,3943195,0,19851213
25,2021-12-25,1217584,0,0,219539,0,1212904,286747,0,2936774
26,2021-12-26,50856,0,0,188500,0,0,106200,0,345556
27,2021-12-27,8170353,5692078,0,4842059,0,5078067,892793,1207522,25882872
28,2021-12-28,10194416,6245477,0,17376007,0,25430223,19868103,7006737,86120963
29,2021-12-29,5964013,2509500,0,1770660,0,12632018,11809706,4455711,39141608
30,2021-12-30,8877249,5982917,0,2974314,875123,18953435,13077730,10129300,60870068
31,2021-12-31,8349826,1085740,0,8798434,0,14436548,7612966,0,40283514

In [ ]:
pd.DataFrame.from_records(rows)

,0,1,2,3,4,5,6,7,8,9
0,date,1110,1120,1130,1140,1150,1160,1170,1180,total
1,2021-12-01,9696898,31194385,0,168980,0,9585049,3181015,32087,53858414
2,2021-12-02,2910284,3544228,0,2198115,12978,8748288,3064744,6864,20485501
3,2021-12-03,11469824,398061,0,1121340,0,3846635,731549,44800,17612209
4,2021-12-04,2873733,3242,0,1040,0,5360845,2029019,0,10267879
5,2021-12-05,2839175,0,0,0,0,1300,29600,0,2870075
6,2021-12-06,12815214,10667076,0,1806502,0,19783206,2680007,3321753,51073758
7,2021-12-07,7588518,13302873,0,5830784,0,7367003,12630582,299499,47019259
8,2021-12-08,10316611,4311916,0,21199659,0,7708941,7296219,3030900,53864246
9,2021-12-09,2251770,5739727,0,4594791,1579010,12412669,1953513,3366100,31897580
10,2021-12-10,4394401,7555812,0,981667,0,5455620,2765394,4713900,25866794
11,2021-12-11,3329513,891864,0,1919300,0,404668,187056,0,6732401
12,2021-12-12,375333,0,0,5419,0,0,0,0,380752
13,2021-12-13,2445965,3984320,0,27770610,0,1441249,4931159,47900,40621203
14,2021-12-14,4528387,855344,0,5039012,0,4052579,3624737,26810,18126869
15,2021-12-15,11921522,3873890,0,5047405,0,4447058,1401301,0,26691176
16,2021-12-16,14877876,485493,0,635038,0,7329775,1269636,272771,24870589
17,2021-12-17,3230193,5669766,0,3311731,0,9958691,3263602,625000,26058983
18,2021-12-18,898238,6450448,0,191700,0,67964,1005086,0,8613436
19,2021-12-19,0,0,0,0,0,0,0,0,0
20,2021-12-20,29106546,4257300,0,2586970,0,32190408,6064197,485,74205906
21,2021-12-21,8251034,2407395,0,1739632,0,11428259,23832202,1936600,49595122
22,2021-12-22,11015014,849749,0,4264120,12978,6244952,7855598,1986058,32228469
23,2021-12-23,34990463,355232,0,7297627,0,5149153,5067257,6695754,59555486
24,2021-12-24,5590498,6650433,0,1298763,0,2368324,3943195,0,19851213
25,2021-12-25,1217584,0,0,219539,0,1212904,286747,0,2936774
26,2021-12-26,50856,0,0,188500,0,0,106200,0,345556
27,2021-12-27,8170353,5692078,0,4842059,0,5078067,892793,1207522,25882872
28,2021-12-28,10194416,6245477,0,17376007,0,25430223,19868103,7006737,86120963
29,2021-12-29,5964013,2509500,0,1770660,0,12632018,11809706,4455711,39141608
30,2021-12-30,8877249,5982917,0,2974314,875123,18953435,13077730,10129300,60870068
31,2021-12-31,8349826,1085740,0,8798434,0,14436548,7612966,0,40283514